@model IEnumerable<ClothMerchStoreApp.Models.Order>

@{
    ViewBag.Title = "All Orders";
}

<h2>All Orders</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order Date</th>
            <th>User</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderDate</td>
                <td>@order.User.FullName</td>
                <td>@order.TotalAmount</td>
                <td>@order.Status</td>
            </tr>
        }
    </tbody>
</table>
